@font-face {
  font-family: noteworthy;
  src: url(../fonts/noteworthy.ttf)
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

*::-webkit-scrollbar { 
  display: none;
}

.wrapper {
  height:100%;
}


#__next, html {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-height: 100dvh;
  width:100dvw;
  margin: 0;
  background: #101213
}

.noScroll {
  overflow:hidden;
}

.loading {
  position: fixed;
  background-color: rgba(7, 7, 7, .8);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100dvw;
  height: 100vh;
  z-index: 6969;
  top:0;
}

.loading img {
  width:200px;
}

.loader {
  height: 4px;
  width: 130px;
  --c:no-repeat linear-gradient(#7E91FF 0 0);
  background: var(--c),var(--c),#EBEBEB;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}

.hidden {
  display: none;
}

.credits {
  position: relative;
  font-size: 8px;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  opacity: .25;
}

.credits:hover {
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  color: #00ff88;
  opacity: .5;
}

.adminPageToggle {
  margin-top: -50px;
  font: normal normal bold 16px Noteworthy;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
}

.adminPageToggle div:first-child {
  padding: 5px;
  border: 2px solid #7E91FF;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.adminPageToggle div:nth-child(2) {
  padding: 5px;
  border-top: 2px solid #7E91FF;
  border-right: 2px solid #7E91FF;
  border-bottom: 2px solid #7E91FF;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.adminPageToggle div:first-child:hover {
  background: #ECF1FB 0% 0% no-repeat padding-box;
  color: #162480;
}

.adminPageToggle div:nth-child(2):hover {
  background: #ECF1FB 0% 0% no-repeat padding-box;
  color: #162480;
}

.adminToggleActive {
  background: #ECF1FB 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  color: #162480;
}

@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}

@media only screen and (max-width: 1045px) {
  .adminPageToggle {
    margin-top: auto;
  }
}